# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.pyd
.pytest_cache/

# Virtual environment
.venv/
venv/
ENV/
env/

# VS Code
.vscode/

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db
